@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.bg-img {
  background-image: url("/assets/bg-img3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .bg-img {
    background-image: url("/assets/bg-image.webp");
  }
}  
input[type="range"] {
  background-color: #d4d4d4 !important;
}

